{% extends 'base.html' %} {% block body %}

<h1>Running Games</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">PID</th>
        <th scope="col">Name</th>
        <th scope="col">Join</th>
        <th scope="col">Löschen</th>
      </tr>
    </thead>
    <tbody id="running-games-content">
      {% for game in running_games %}
      <tr>
        <td class="pid">{{game['pid']}}</td>
        <td>{{game['game_play_id']}}</td>
        <td>
          <a
            href="https://io.gbsl.website/playground?device_id={{game['game_play_id']}}&silent=1"
            target="_blank"
            >Join</a
          >
        </td>
        <td>
          <form action="/terminate_game" method="POST">
            <input type="hidden" name="id" value="{{game['game_play_id']}}" />
            <input type="hidden" name="admin_redirect" value="true" />
            <button type="submit" class="btn btn-primary">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<h1>Users</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Email</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      {% for usr in users %}
      <tr>
        <td>{{usr.email}}</td>
        <td>{{usr.created}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<h1>Latest Game Plays</h1>
<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Time</th>
        <th scope="col">Game</th>
        <th scope="col">Player</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for gp in game_plays %}
      <tr>
        <td>{{gp['id']}}</td>
        <td>{{gp['start_time']}}</td>
        <td>{{gp['game']}}</td>
        <td>{{mail_of(gp['player_email'])}}</td>
        <td>{{gp['score']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
<script>
  setInterval(() => {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        const table = document.querySelector("#running-games-content");
        const pids = [...table.querySelectorAll(".pid")]
          .map((pid) => pid.innerHTML)
          .sort();
        const newGames = JSON.parse(this.responseText);
        const newPids = newGames.map((game) => game.pid).sort();
        if (
          pids.length !== newPids.length ||
          JSON.stringify(pids) !== JSON.stringify(newPids)
        ) {
          const html = [];
          newGames.forEach((game) => {
            const pid = _.escape(game.pid);
            const game_play_id = _.escape(game.game_play_id);
            html.push(`
              <tr>
                <td class="pid">${pid}</td>
                <td>${game_play_id}</td>
                <td>
                  <a
                    href="https://io.gbsl.website/playground?device_id=${game_play_id}&silent=1"
                    target="_blank"
                    >Join</a
                  >
                </td>
                <td>
                  <form action="/terminate_game" method="POST">
                    <input type="hidden" name="id" value="${game_play_id}" />
                    <button type="submit" class="btn btn-primary">
                      <i class="fas fa-trash"></i>
                    </button>
                  </form>
                </td>
              </tr>
            `);
          });
          table.innerHTML = html.join("\n");
        }
      }
    };
    xhttp.open("GET", "/running_games", true);
    xhttp.send();
  }, 1500);
</script>
{% endblock %}
