<!DOCTYPE html>
<html lang="de">
  <title>Game Runner</title>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/style.css') }}"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </head>
  <body>
    <div id="demopage">
      <div class="header">
        <h1>Game Runner</h1>
      </div>
      <div class="live">
        <div id="live-preview">Live Preview</div>
      </div>
      <div class="score" id="scoreboard">Score</div>
      <div class="qr">
        <img
          src="/static/images/game_qr.svg"
          style="min-width: 0; min-height: 0"
        />
      </div>
    </div>
    <script>
      let currentId = "";
      let startTime = 0;
      setInterval(() => {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            const live = document.querySelector("#live-preview");
            const scoreboardElement = document.querySelector("#scoreboard");
            const newGames = JSON.parse(this.responseText);
            const gpids = newGames.map((game) => game.game_play_id).sort();
            if (gpids.includes(currentId) && Date.now() - startTime < 30000) {
              return;
            }
            const latestGame = newGames.sort((a, b) =>
              a.game_play_id > b.game_play_id ? -1 : 1
            )[0];
            if (latestGame) {
              const previewId = latestGame.game_play_id;
              currentId = previewId;
              startTime = Date.now();
              const iframe = document.createElement("iframe");
              iframe.src = `https://io.gbsl.website/playground?device_id=${previewId}&silent=1&striped=1`;
              iframe.frameBorder = 0;
              iframe.id = "live-preview";
              live.replaceWith(iframe);

              /* scoreboard */
              const scoreboard = document.createElement("iframe");
              scoreboard.src = `/scoreboard/${latestGame.game_id}`;
              scoreboard.frameBorder = 0;
              scoreboard.id = "scoreboard";
              scoreboardElement.replaceWith(scoreboard);
            }
          }
        };
        xhttp.open("GET", "/api/v1/running_games", true);
        xhttp.send();
      }, 2000);
    </script>
  </body>
</html>
