<div
  class="table-responsive"
  {%
  if
  max_height
  %}
  style="max-height: {{max_height}}"
  {%
  endif
  %}
>
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
        <th scope="col">Plays</th>
        <th scope="col">Playtime (min)</th>
      </tr>
    </thead>
    <tbody>
      {% for play in scoreboard %}
      <tr
        class="{{toggle_prop('bg-warning', loop.index == 1)}} {{toggle_prop('table-primary', user.is_registered and play['player_email'] == user.email)}}"
      >
        <td>{{loop.index}}</td>
        <td>{{mail2name(play['player_email'], initial_letters='last')}}</td>
        <td>{{play['highscore']}}</td>
        <td>{{play['plays']}}</td>
        <td>{{play['play_time']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
