{% extends 'base.html' %} {% block body %}

<h1>Scoreboard {{game.name}}</h1>
<span class="badge bg-warning text-dark"
  >Rating: {{round(rating['rating'],1)}}</span
>
<span class="badge bg-primary text-light">Count: {{rating['count']}}</span>

<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Score</th>
        <th scope="col">Plays</th>
        <th scope="col">Playtime (min)</th>
      </tr>
    </thead>
    <tbody>
      {% for play in scoreboard %}
      <tr class="{{'bg-warning' if loop.index == 1 else ''}}">
        <td>{{loop.index}}</td>
        <td>
          {{play['player_email'].split('.')[0].capitalize() + ' '}}
          {{play['player_email'].split('@')[0].split('.')[-1].capitalize()}}
        </td>
        <td>{{play['highscore']}}</td>
        <td>{{play['plays']}}</td>
        <td>{{play['play_time']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
