{% extends 'base.html' %} {% block body %}
<h1>Scoreboard {{game.name}}</h1>
{% include 'game_details_component.html'%} {% with max_height='300px' if
my_plays else None %} {% include 'scoreboard_component.html' %} {% endwith %} {%
if my_plays %}
<h1>My Plays</h1>
<div class="table-responsive" style="max-height: 250px">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Start</th>
        <th scope="col">Playtime (min)</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {% for play in my_plays %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{play['start_time']}}</td>
        <td>{{play['play_time']}}</td>
        <td>{{play['score']}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %} {% endblock %}
