{% extends 'base.html' %} {% block body %}
<div class="container">
  <form method="POST" action="/update_game" enctype="multipart/form-data">
    <input type="hidden" name="game_id" value="{{game.id}}" />
    <fieldset>
      <legend>Game Details</legend>
      <div class="mb-3">
        <label for="name" class="form-label">Game Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          aria-describedby="nameHelp"
          maxlength="32"
          minlength="2"
          placeholder="Game"
          value="{{ game.name }}"
          required
        />
        <div id="nameHelp" class="form-text">Name of your Game Project.</div>
      </div>
      <div class="mb-3">
        <label for="authors" class="form-label">Authors</label>
        <input
          type="text"
          class="form-control"
          id="authors"
          name="authors"
          aria-describedby="authorsHelp"
          maxlength="64"
          minlength="2"
          placeholder="Your Cool Teamname"
          required
          value="{{ game.authors }}"
        />
        <div id="authorsHelp" class="form-text">
          Name of the Game Programmers
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="description"
          name="description"
          aria-describedby="descriptionHelp"
          placeholder="Short Description"
          maxlength="1024"
          required
        >
{{game.description}}</textarea
        >
        <div id="descriptionHelp" class="form-text">
          A short description how to play the game and what the goal of your
          game is (some #hashtags might be enough).
        </div>
      </div>
    </fieldset>
    <fieldset>
      <legend>Supported Game Options</legend>
      <div
        class="btn-group"
        role="group"
        aria-label="Basic checkbox toggle button group"
      >
        <input
          class="btn-check"
          type="checkbox"
          id="supports_acc"
          {{checked(game.supports_acc)}}
          name="supports_acc"
        />
        <label class="btn btn-outline-primary" for="supports_acc"
          >Accelerometer</label
        >
        <input
          class="btn-check"
          type="checkbox"
          id="supports_key"
          {{checked(game.supports_key)}}
          name="supports_key"
        />
        <label class="btn btn-outline-primary" for="supports_key"
          >Keyboard</label
        >
        <input
          class="btn-check"
          type="checkbox"
          id="supports_touch"
          name="supports_touch"
          {{checked(game.supports_touch)}}
        />
        <label class="btn btn-outline-primary" for="supports_touch"
          >Touchcontrol</label
        >
        <input
          class="btn-check"
          type="checkbox"
          id="supports_gyro"
          name="supports_gyro"
          {{checked(game.supports_gyro)}}
        />
        <label class="btn btn-outline-primary" for="supports_gyro"
          >Gyrometer</label
        >
      </div>
    </fieldset>
    <br />
    <fieldset>
      <img width="200" src="{{game.preview_img_url}}" />
      <div>
        <label for="preview" class="form-label">Preview Image</label>
        <input
          class="form-control"
          id="preview"
          type="file"
          name="preview"
          aria-describedby="previewHelp"
          accept="image/*"
        />
      </div>
    </fieldset>
    <pre
      style="max-height: 300px; overflow: auto"
    ><code style="font-family: monospace; line-height: 0.8rem;">{{game.raw_code}}</code></pre>
    <fieldset>
      <div>
        <label for="game" class="form-label">Game (.zip or .py)</label>
        <input
          class="form-control"
          id="game"
          type="file"
          name="game"
          aria-describedby="gameHelp"
          accept=".zip,.py"
        />
      </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
{% endblock %}
