{% extends 'base.html' %} {% block body %}
<h1>Login</h1>
<div
  class="container-fluid d-flex justify-content-center align-items-center"
  style="height: 80vh"
>
  <div class="d-flex justify-content-start align-items-center">
    <a href="/game/{{requested_game_id}}" type="button" class="btn btn-primary">
      <span
        class="spinner-grow spinner-grow-sm"
        role="status"
        aria-hidden="true"
      ></span>
      Waiting for Resources...
      <span class="badge bg-secondary">{{running_games}}</span>
    </a>
  </div>
</div>
<script>
  setTimeout(() => {
    window.location.replace("/game/{{requested_game_id}}");
  }, 2000);
</script>
{% endblock %}
